p.
	You can send me an email at
	<a href="mailto:josh@turtles.io">josh@turtles.io</a>, or tweet
	<a href="http://twitter.com/jcaron17">@jcaron17</a>.
p.
	Also, check out my <a href="http://blog.joshcaron.com">blog</a>, where I
	write about technology and post the photos I take on my adventures.