.heading
	h1.name
		a(href="/") Josh Caron
	nav
		ul
			li
				a(href="/work.html") Work
			li
				a(href="/projects") Projects
			li
				a(href="/assets/resume.pdf") Resume
			li
				a(href="/contact.html") Contact